.btn-text{

    position: absolute;
    height: 24px;
    margin-left: 138px;
    margin-right: 1237px;
    margin-top: calc(50% - 24px/2 + 165px);    
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;    
    color: #FFFFFF;  
}

.btn-content {
    width: 101px;
    height: 40px;
    margin-left: 120px;
    margin-top: 595px; 
    background: #1890FF;
    border-radius: 4px;
}