

.main-nav{
    
    width: 100%;
    height: 60px;
    margin-left: 0px;
    margin-top: 0px;
    background: #1890FF;
    
    a:link,a:hover {
        text-decoration: none;
        color: #FFF ;   
    }
     
}

.nav-log-text {
    
    width: 248px;
    height: 32px;
    padding-left: 41px;
    padding-top: 15px;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFF ;   
    
}

